body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #00A6A6, #F7EF99);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

#prompt {
    font-size: 1.2em;
    margin: 20px 0;
    color: #555;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #006C67;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #006C67;
}
